@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Judson:wght@700&display=swap');

*{
    margin: 0;
}

body{
    background-image: url("img/body/magasin.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;/*arriere plan fixe*/
    background-size: cover;
}

.divbackground{
    background-color: #ec1c24;
    padding-bottom: 10%;
}

.actustxt{
    font-family: Albert Sans;
    /* UI Properties */
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 70px;
}

.bonsplanstxt{
    font-family: Albert Sans;
    /* UI Properties */
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 70px;
    margin-left: 10%;
    color: transparent;
    -webkit-text-stroke-width: 3px; /*faire les contour*/
    -webkit-text-stroke-color: white;/*couleur des contours*/
}

.barre{
    width: 100%;
    border: none;
    height: 5px;
    background-color: grey;
    margin-top: 10px;
    border-radius: 2px;
    position: absolute;
}

.flecheg{
    width: 30%;
    margin-left: 50%;
    margin-right: 50%;
}

.fleched {
    width: 30%;
    margin-left: 20%;
    margin-right: 50%;
}

.barrecaroussel{
    grid-area: b;
    margin-top: 20%;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr; /*création d'une grille en trois partie*/
    width: 85%;
}

.texteactetb{
    grid-area: a;
    margin-top: 80px;
}

.boutonaetb{
    grid-area: b;
    text-align: end;
    width: 80%;
    margin-top: 10%;
}

.boutonaetbp {
    font-family: Albert Sans, bold;
    font-weight: 700;
    color: red;
    background-color: #FFFFFF;
    padding: 10px;
    display: inline;
    border-radius: 5px;
    cursor: pointer; /*Permet d'afficher un curseur cliquable*/
    margin-right: 5px;
}

.boutonaetbp:hover{
    padding: 15px;
    margin-right: 0;
    transition: 0.05s ease-in-out;
}

.lesbarres {
    position: relative; /* Nécessaire pour le positionnement absolu des enfants */
    width: 100%; /* Ajuste la largeur du conteneur */
    height: 5px; /* Définit une hauteur pour le conteneur */
}

.barreblanche {
    width: 0%;
    border: none;
    height: 5px;
    background-color: #FFFFFF;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    transition: width 0.3s ease;
}

.grille{
    margin-left: 10%;
    display: grid; /*Création d'une grille*/
    grid-template-columns: 1fr 2fr ;
    grid-template-areas: "a b"; /* Nommage des zones pour la grille */
    max-width: 100%;
}

.listeimage{
    margin-top: 70px;
    text-align: center;
    display: flex;
    float: left;
    position: relative;
    left: 0px;
    flex-direction: row;
    list-style-type: none;
    transition: 0.5s;
    gap: 30px;
    transition: 0.5s;
    left: -430px;
}

.listeimage li {
    position: relative;
    display: inline-block; /* Transforme l'élement en élement en ligne */
    cursor: pointer;
}

.divlisteimage {
    overflow: hidden; /* N'affiche pas les images sortants de la page */
}

.listeimage li img {
    width: 400px;
    height: 581.15px;
    display: block;
    border-radius: 8px;
    object-fit: cover;
}

.txtimageaetb {
    position: absolute; /* Permet de superposer le texte */
    text-align: left;
    bottom: 70px;
    color: white; /* Couleur du texte pour contraste */
    font-family: Albert Sans, sans-serif;
    left: 25px;
}

.dateaetb{
    margin-bottom: 20px;
}

.txtimageaetb h3{
    font-size: 2rem;
}

.hashtagaetb{
    margin-top: 50px;
    font-family: Albert Sans, sans-serif;
    font-weight: bold;
}

.particulieretxt {
    font-family: Albert Sans;
    /* UI Properties */
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 70px;
    color: transparent;
    -webkit-text-stroke-width: 3px; /*faire les contour*/
    -webkit-text-stroke-color: white;/*couleur des contours*/
}

.enviedeshopping {
    margin-left: 80px;
}

.boutonshop {
    font-family: Albert Sans, bold;
    font-weight: 700;
    color: red;
    background-color: #FFFFFF;
    padding: 10px;
    display: inline;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.boutonshop:hover{
    padding: 15px;
    transition: 0.05s ease-in-out;
    margin-left: 0;
}

.divboutonshop {
    margin-top: 80px;
}

.grilleshop {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.listeshop{
    display: grid; /* Utilisation de la grille pour les éléments */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Colonnes adaptatives */
    gap: 30px; /* Espacement entre les éléments */
    max-width: 1400px; /* Largeur maximale pour limiter l'espace horizontal */
    width: 90%; /* Permet à la liste de s'adapter au conteneur */
    justify-content: center; /* Centre les éléments dans la grille */
    margin-top: 70px; /* Supprime les marges externes */
    list-style-type: none; /* Supprime les puces */
    
}

.eltshop{
    width: 100%; /* Ajuste à la largeur définie par la grille */
    max-width: 211px; /* Limite maximale pour les grands écrans */
    height: 211px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 5fr 1fr;
    justify-content: center;
    align-items: center;
}

.listeshop li p{
    bottom: 70px;
    color: white; /* Couleur du texte pour contraste */
    font-family: Albert Sans, sans-serif;
    font-weight: bold;
}

.listeshop li img{
    width:106px ;
}

.eltshop:hover{
    background-color: red;
    transition: all 0.3s ease-in-out;
    transform: translateY(-20px);
}

.parashop {
    font-family: Albert Sans;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    max-width: 1100px; /* Largeur maximale */
    margin: 0 auto; /* Centre le texte horizontalement */
}

.listetxtshop {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    gap: 20px;
    width: 100%; 
}

.listeicon {
    display: grid; /* Utilisation de la grille pour les éléments */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Colonnes adaptatives */
    gap: 30px; /* Espacement entre les éléments */
    max-width: 1400px; /* Largeur maximale pour limiter l'espace horizontal */
    width: 90%; /* Permet à la liste de s'adapter au conteneur */
    justify-content: center; /* Centre les éléments dans la grille */
    margin-top: 70px; /* Supprime les marges externes */
    list-style-type: none; /* Supprime les puces */
    padding: 20px;
}

.elticon {
    width: 100%; /* Ajuste à la largeur définie par la grille */
    max-width: 211px; /* Limite maximale pour les grands écrans */
    height: 211px;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 5fr 1fr;
    justify-content: center;
    align-items: center;
}

.elticon p {
    bottom: 70px;
    color: white; /* Couleur du texte pour contraste */
    font-family: Albert Sans, sans-serif;
    font-weight: bold;
}



.elticon:hover{ /* Css lors du survol */
    background-color: #FFFFFF;
    transition: all 0.3s ease-in-out;
    transform: translateY(-20px);

    /* Entraine le changements d'autres élements lors du survol de elticon */
    .txticon {
        color: black;
        transition: all 0.3s ease-in-out;
    }
    .imgicon{
        filter: invert(100%);
        transition:all 0.3s ease-in-out ;
    }
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    gap: 20px;
    width: 100%; 
}

.blacktxt {
    color: black;
}

.yellowtxt {
    color: yellow;
}

.bluetxt {
    color: blue;
}

/* Responsive pour un écran inférieur ou égale à 808px */
@media screen and (max-width: 808px) { 
    .grille {
        display: grid; /* Grille pour une nouvelle disposition */
        grid-template-rows: 1fr .4fr ;
        grid-template-columns: 1fr;
        grid-template-areas: "a"
        "b";
    }

    .texteactetb {
        grid-area: a;
    }

    .boutonaetb {
        grid-area: b;
    }

    .listeimage li img {
        width: 220px;
        height: 319.6px;
        display: block;
    }

    .grilleshop {
        display: grid;
        grid-template-rows: 1fr .3fr;
        grid-template-columns: 1fr;
        grid-template-areas: "d"
        "e";
    }

    .listeshop {
        width: 553px;
    }

    .listeicon {
        width: 553px;
    }

    .elticon {
        max-width: 180px;
        height: 180px;
    }

    .eltshop {
        max-width: 180px;
        height: 180px;
    }

    
}

body {
    font-family: 'Albert Sans', sans-serif;
}

/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.premiereBarre {
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px; /* Réduit l'espace pour rapprocher le logo de la gauche */
    flex-wrap: wrap;
}

.logo {
    font-family: 'Albert Sans', sans-serif;
    padding-left: 5%;
    font-size: 300%;
    font-weight: bold;
    flex: 0.25 1 auto;
    text-align: left; /* S'assure que le logo est bien aligné à gauche */
}

.menu {
    padding-left: 5%;
    display: flex;
    gap: 10%; /* Réduit l'espace entre les éléments du menu */
    flex: 1 1 auto; /* Rend le menu plus flexible */
    justify-content: flex-start; /* Rapproche les textes du logo */
    font-weight: bold;
    font-size: 200%;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.menu a:hover {
    text-decoration: underline;
}

.status {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 1 auto;
    justify-content: flex-end;
    padding-right: 5%;
}

.status span {
    background-color: #fff127; /* Orange plus foncé */
    padding: 5px 10px;
    border-radius: 10px; /* Arrondi des bords */
    font-weight: bold;
}

.annonce {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

main {
    padding-top: 140px; /* Pour éviter de chevaucher l'en-tête */
}

/* Responsive styles */
@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .status {
        justify-content: flex-start;
        margin-top: 10px;
    }

    .status span {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 20px;
    }

    .menu a {
        font-size: 14px;
    }

    .status span {
        font-size: 12px;
    }

    .announcement {
        font-size: 12px;
        padding: 8px;
    }
}

.boiteLoupe {
    padding-left: 2%;
    display: flex;
    align-items: center;
    position: relative;
    border: none; /* Pas de bordure par défaut */
    border-radius: 50%; /* Toujours ronde au début */
    width: 40px; /* Taille initiale */
    height: 40px; /* Taille initiale */
    transition: all 0.4s ease-in-out; /* Animation d'agrandissement */
    overflow: hidden; /* Empêche le contenu de sortir de la boîte */
    background-color: transparent; /* Pas de fond visible */
}

.cliqueLoupe {
    width: 0;
    border: none;
    outline: none;
    transition: width 0.4s ease-in-out;
    font-size: 16px;
    padding: 0;
    opacity: 0; /* Caché */
}

.rechercheBouton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.rechercheIcone {
    width: 20px;
    height: 20px;
}

.boiteLoupe.open {
    border: 2px solid #ccc; /* Ajoute une bordure visible */
    border-radius: 25px; /* Forme rectangulaire avec coins arrondis */
    width: 250px; /* Largeur de la barre de recherche */
    height: 40px; /* Hauteur constante */
    background-color: #fff; /* Fond blanc pour la barre */

}

.boiteLoupe.open .cliqueLoupe {
    width: 200px; /* Largeur de l'input visible */
    padding: 0 10px;
    opacity: 1; /* Rendu visible */

}

.boiteLoupe.open .rechercheIcone {
    transform: translateX(150px);  /* Déplace la loupe vers la droite */
}

body {
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
}

/* Section bannière jaune */
.yellow-banner {
    position: relative;
    text-align: center;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 2;
}

.yellow-banner::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    bottom: -70%; /* Débordement vers le bas */
    background-color: #f8df00;
    border-radius: 15px;
    z-index: -1; /* Place en arrière-plan de la bannière jaune */
}

.yellow-banner-inner {
    position: relative;
    top: 150px; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.yellow-banner h1 {
    font-size: 2.5em; 
    margin: 0;
    font-weight: bold;
}

.yellow-banner form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black; 
    border-radius: 30px; 
    padding: 5px 10px;
    background-color: #f8df00;
}

.yellow-banner input[type="email"] {
    padding: 10px 15px;
    font-size: 16px;
    background-color: transparent;
    border: none; 
    border-radius: 20px;
    width: 250px;
    outline: none; /* Retrait des bords lors de la sélection */
}

.yellow-banner input::placeholder {
    color: black;
    font-weight: normal;
}

.yellow-banner button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5px;
    padding: 10px 15px;
    background-color: transparent;
    border: none;
}

.yellow-banner button img {
    height: 20px; 
    width: auto;
    transform: translateX(0);
    transition: transform 0.5s ease; 
}

.yellow-banner button img:hover {
    transform: translateX(5px); 
    transition: tr
    nsform 0.5s ease; 
}

.yellow-banner p {
    font-size: 14px;
    color: black;
    margin-top: 15px;
    max-width: 600px;
    line-height: 1.5; /* Espacement entre les lignes */
}

.hashtag {
    font-size: 36px; 
    font-weight: bold; 
    font-family: 'Albert Sans', sans-serif;
    color: white; 
    text-shadow: 
        2px 2px 0px black,   /* Ombre à droite et en bas */
        -2px -2px 0px black, /* Ombre à gauche et en haut */
        2px -2px 0px black,  /* Ombre à droite et en haut */
        -2px 2px 0px black;  /* Ombre à gauche et en bas */
    font-style: italic; 
    position: absolute;
    top: 23%; 
    left: 12.5%; 
    z-index: 10; 
}

/* Section rouge */
.red-section {
    background-color: #ec1c24;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

/* Slider Bar */

.slider-marque{
    position: relative;
    padding-bottom: 15%;
    background-color: #E82723;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    overflow: hidden;
    height: auto;
}


.button-marque {
    width: 10%;
    aspect-ratio: 1/1;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

.button-marque img{
    width: 100%;
    height: auto;
    
}

.slider-marque:hover .button-marque{
    
    animation-play-state: paused!important;
}



@keyframes scrollLeft {
    to{
        left: -10%;
    }
}
.button-marque:nth-child(1) {
    animation-delay: calc(30s / 10 * (10 - 1) * -1);
}
.button-marque:nth-child(2) {
    animation-delay: calc(30s / 10 * (10 - 2) * -1);
}
.button-marque:nth-child(3) {
    animation-delay: calc(30s / 10 * (10 - 3) * -1);
}
.button-marque:nth-child(4) {
    animation-delay: calc(30s / 10 * (10 - 4) * -1);
}
.button-marque:nth-child(5) {
    animation-delay: calc(30s / 10 * (10 - 5) * -1);
}
.button-marque:nth-child(6) {
    animation-delay: calc(30s / 10 * (10 - 6) * -1);
}
.button-marque:nth-child(7) {
    animation-delay: calc(30s / 10 * (10 - 7) * -1);
}
.button-marque:nth-child(8) {
    animation-delay: calc(30s / 10 * (10 - 8) * -1);
}
.button-marque:nth-child(9) {
    animation-delay: calc(30s / 10 * (10 - 9) * -1);
}
.button-marque:nth-child(10) {
    animation-delay: calc(30s / 10 * (10 - 10) * -1);
}


/* Barre réseau */
.social-bar {
    position: fixed;
    top: 50%; 
    left: 10px; 
    transform: translateY(-50%); /* Centrage vertical */
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-bar a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.5s ease; 
}

.social-bar a:hover {
    transform: translateX(5px);
    transition: transform 0.5s ease; 
}

.vertical-text {
    writing-mode: vertical-rl; /* écriture verticale de droite à gauche */
    transform: rotate(180deg); /* Rotation pour que le texte soit lisible de bas en haut */
    margin-bottom: 20px; 
    font-size: 30px; 
    color: white;
    text-shadow:
    2px 2px 0px black,   /* Ombre à droite et en bas */
    -2px -2px 0px black, /* Ombre à gauche et en haut */
    2px -2px 0px black,  /* Ombre à droite et en haut */
    -2px 2px 0px black;  /* Ombre à gauche et en bas */
    font-family: 'Albert Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
}

/* Pied de page */
footer {
    background-color: #ffffff;
    padding: 40px 20px; 
    font-size: 14px;
    color: #000000;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo h2 {
    font-size: 36px;
    margin: 0 0 10px;
    font-weight: bold;
}

.footer-logo h3 {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold; 
}

.footer-logo p {
    margin: 5px 0;
    line-height: 1.5;
}

.footer-logo button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 14px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    gap: 10px; /* Espace entre l'image et le texte */
}

.footer-logo img {
    width: 20px; 
    height: auto;
}

.footer-links h3 {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 1%;
}

.social-links a {
    display: inline-block;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a img {
    width: 30px; 
    height: auto;
    transform: translateX(0);
    transition: transform 0.5s ease; 
}

.social-links a img:hover {
    transform: translateY(-5px);
    transition: transform 0.5s ease;  
}
.social-links p {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Albert Sans', sans-serif;
}

.newsletter {
    text-align: left;
}

.newsletter h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.newsletter form {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.newsletter input[type="email"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 20px;
    width: 250px;
}

.newsletter input::placeholder {
    color: #000000;
}

.newsletter button {
    margin-left: -60px;
    padding: 10px 15px;
    background-color: transparent;
    color: black;
    border: none;
    transform: translateX(0);
    transition: transform 0.5s ease; 
}

.newsletter button:hover {
    transform: translateX(5px);
    transition: transform 0.5s ease; 
}

.newsletter img {
    height: auto;
    width: 15px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    gap: 720px;
    margin-left: 310px;
    font-size: 16px;
    margin-top: 30px;
    color: black;
    padding-top: 20px;
}

.footer-bottom p {
    margin: 5px 0;
}

/* Responsive */
@media (max-width: 1024px) {
    .yellow-banner {
        padding: 20px;
    }

    .yellow-banner h1 {
        font-size: 2em;
    }

    .yellow-banner form {
        flex-direction: column;
        gap: 10px;
    }

    .yellow-banner input[type="email"] {
        width: 100%;
    }

    .carousel-images, .carousel2-images {
        display: flex;
        gap: 10px;
        padding: 10px;
    }

    .carousel-images .image-container,
    .carousel2-images .image-container {
        margin-right: 10px;
    }

    .social-bar {
        left: 5px;
        transform: translateY(0);
        bottom: 10px;
        top: auto;
        flex-direction: column;
        gap: 10px;
    }

    .social-bar a {
        margin-bottom: 0;
        transform: none;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .yellow-banner {
        padding: 15px;
    }

    .yellow-banner h1 {
        font-size: 1.8em;
    }

    .carousel-images .image-container img,
    .carousel2-images .image-container img {
        width: 80%;
        margin: 0 auto;
    }

    .carousel-images, .carousel2-images {
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links ul {
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 5px;
        margin: 0 auto;
    }

    .footer-logo h2 {
        font-size: 28px;
    }

    .footer-logo p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .yellow-banner h1 {
        font-size: 1.5em;
    }

    .yellow-banner input[type="email"] {
        width: 100%;
    }

    .carousel-images .image-container,
    .carousel2-images .image-container {
        width: 100%;
        margin-right: 0;
    }

    .footer-links h3 {
        font-size: 14px;
    }

    .footer-links ul {
        padding: 0;
    }

    .footer-logo h3 {
        font-size: 14px;
    }

    .footer-bottom {
        gap: 5px;
        font-size: 12px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Albert Sans', sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Permet un centrage vertical */
}

/* Conteneur principal */
.box_carou_img {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 2%;
    padding-top: 7%;
    height: 98%;
}

/* Boîte gauche : carrousel */
.boitegauche {
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 67%;
    border-radius: 0 15px 15px 0;
}

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 300%; /* Carrousel à 3 images */
    height: 100%;
}

.slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%; /* Les images s'adaptent sans déformation */
}

.points {
    position: absolute;
    bottom: 10px;
    left: 95%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.point {
    width: 12px;
    height: 12px;
    background-color: lightgrey;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    appearance: none;
}


.point:checked {
    background-color: gray;
}



/* Boîte droite : informations */
.boitedroite {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}

.boitedroite .imgPrimark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}

.boitedroite .contentBoiteDroite {
    position: relative;
    z-index: 2;
    padding: 10%;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
}

.boitedroite .titre {
    font-family: 'Albert Sans', sans-serif;
    margin-top: 10%;
    margin-bottom: 10px;
    text-align: left;
    color: #00AEDB;
    letter-spacing: 0.5rem;
    font-size: 300%;
}

.boitedroite .sous-titre {
    font-family: 'Brush Script MT', cursive;
    color: black;
    text-align: left;
    font-size: xx-large;
    margin-bottom: 10px;
}

.boitedroite .evenement {
    margin-top: 42%;
    text-align: left;
    color: black;
    font-weight: bold;
    font-size:xx-large;
}

.boitedroite .txtsurImg {
    text-align: left;
    font-size: x-large;;
    margin-top: 0.5%;
    color: black;
    margin-bottom: 5%;
}

.txtsurImg .txt1{
    margin-bottom: 0.5%;
}
.txtsurImg .txt2{
    margin-bottom: 0.5%;
}

.boitedroite .bouton {
    display: flex;
    right: 15px;
    background-color: #e60000;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: larger;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 10px
}

.boitedroite .bouton:hover {
    border: #e60000 1px solid;
 }


/* Responsive adjustments */
@media (max-width: 768px) {
    .box_carou_img {
        flex-direction: column;
        align-items: center;
        gap: 20%;
        margin-top: 35%;
    }

    .boitegauche {
        margin-bottom: 15px;
    }

    .boitegauche, .boitedroite {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel {
        height: 30vh; /* Hauteur plus petite sur mobile */
    }
}